<ol class="breadcrumb"> 
    <li class="breadcrumb-item"> <a href="/dashboarduser/<%= all %>"> Home </a> </li>
    <li class="breadcrumb-item active"> Add Account </li>
    </ol>
    
    <h1 class ="display-4"> Add account</h1>
    
    <form method="post" action="/dashboarduser/adduserByemail/<%= all %>">
    
        <div class="form-group">
            <label for="user-acc"> Add user by Email </label>
            
            <input type="text" name="email" class="form-control" required="true" placeholder="Enter your user email to add into your account">
             
        </div>
        

        <input type="submit" type="button" class="btn btn-primary" >
    </form>
    