<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 4</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
   <style>

    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


#sidebar {
    min-width: 150px;
    max-width: 200px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.account{
    border: 2px solid #aaa;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #eee;
    margin-bottom: 30px;
    margin-left: 6px ;
}

.add-course-title, .home-course-title, .edit-course-title, .error-page-title{

   margin: auto;
   text-align: center;
   margin-top: 6px;
   margin-bottom: 40px;
   padding-left: 20px;

}


#title1, #title2, #title3, #title4{
    font-size: xx-large;
    text-transform: capitalize;
    text-decoration-line: underline;

}

.add-course-name, .edit-course-name{
    margin-top: 40px;

}

.add-course-duration, .edit-course-duration{
    margin-top: 20px;
   
}

.add-course-fees, .edit-course-fees{
    margin-top: 20px;

}

.col-md-3{
  padding-right: 7px;
  width: auto;

}

#btn-add, #btn-edit{
    margin-top: 40px;
 

}

   </style>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>
<body>


    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    
    <div class="wrapper">
      <!-- Sidebar -->
      <nav id="sidebar">
          <div class="sidebar-header">
              <h3> Expense Manager </h3>
          </div>
  
          <ul class="list-unstyled components">
              <p>Welcome</p>
              <li class="active">
                  <a href="/dashboarduser/adduseraccount" aria-expanded="false" class="ff">Add new account</a>
                
              </li>

              <li class="sec">
                <a href="/dashboarduser/logout" aria-expanded="false" class="get user"> Logout </a>
              
            </li>

              <li class="sec">
                <a href="/user" aria-expanded="false" class="get user">User detail</a>
              
            </li>
          </ul>
      </nav>

      <main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
      
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
    
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span> Menu</span>
                </button>
    
            </div>
        </nav>
    </div>
  </div>

<div class="home-course-title" id="title2"> 
    Account list 
</div>

     <% 
     
     if(accountid.length)  { %> 
        <div class="row">

        <% for(let data of accountid)  { %>
            <div class="col-md-3">

                <div class="account">
                    <h3> <%= data.accountname %> </h3>
                    <hr>
      
                    <div class="my-2">

                        <a href="/dashboarduser/edituseraccount/<%= data.id %> " class="btn btn-primary"> Edit </a>
        
                          <form class="d-inline" action="/dashboarduser/delete/<%= data.id %>" method="post"> 
        
                            <input type="submit" value="Delete" class="btn btn-danger"> 
        
                          </form>
        
    
                    </div>
                </div>
            </div>
        <% } %> 
    </div>
        <% }  else { %>
    <div> No course available </div>
    <% } %>    
    
         </div>
        </div>
     </div>

</main>

</body>

</html>

<script>

$(document).ready(function () {

$('#sidebarCollapse').on('click', function () {
    $('#sidebar').toggleClass('active');
});

});
</script>